.menu {
  width: 208px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: #FFF;

  /* Shadow/sm focused 4px primary-100 */
  box-shadow: 0px 0px 0px 4px #E1EFFF, 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
}

.icon {
  font-size: 24px;
}

.verticalLine {
  border-left: 1px solid #EAECF0;
  height: 21px;
}