.container {
  display: flex;
  flex-direction: column;
  padding: 10px 14px;
  position: fixed;
  top: 50px;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  width: 247px;
  height: 94px;
  box-shadow: 0px 0px 0px 4px var(--COLOUR-PRIMARY-200);
  background-color: var(--COLOUR-NEUTRAL-100);
}