.typography {
    margin: 0;
    padding: 0;
}

.title.xl {
    font-size: 3vw;
    @media (max-width: 768px) {
        font-size: 7vw;
    }
}

.title.l {
    font-size: 2.75vw;
    @media (max-width: 768px) {
        font-size: 6.75vw;
    }
}

.title.m {
    font-size: 2.5vw;
    @media (max-width: 768px) {
        font-size: 6.5vw;
    }
}

.title.s {
    font-size: 2.25vw;
    @media (max-width: 768px) {
        font-size: 6.25vw;
    }
}

.title.xs {
    font-size: 2vw;
    @media (max-width: 768px) {
        font-size: 6vw;
    }
}

.body.xl {
    font-size: 1.7vw;
    @media (max-width: 768px) {
        font-size: 5.25vw;
    }
}

.body.l {
    font-size: 1.5vw;
    @media (max-width: 768px) {
        font-size: 5vw;
    }
}

.body.m {
    font-size: 1.25vw;
    @media (max-width: 768px) {
        font-size: 4.5vw;
    }
}

.body.s {
    font-size: 1vw;
    @media (max-width: 768px) {
        font-size: 4.25vw;
    }
}

.body.xs {
    font-size: .075vw;
    @media (max-width: 768px) {
        font-size: 4vw;
    }
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}