:root {
  --COLOUR-NEUTRAL-25: #FCFCFD;
  --COLOUR-NEUTRAL-50: #F9FAFB;
  --COLOUR-NEUTRAL-100: #F2F4F7;
  --COLOUR-NEUTRAL-200: #EAECF0;
  --COLOUR-NEUTRAL-300: #D0D5DD;
  --COLOUR-NEUTRAL-400: #98A2B3;
  --COLOUR-NEUTRAL-500: #667085;
  --COLOUR-NEUTRAL-600: #475467;
  --COLOUR-NEUTRAL-700: #344054;
  --COLOUR-NEUTRAL-800: #1D2939;
  --COLOUR-NEUTRAL-900: #101828;

  --COLOUR-ERROR-25: #FFFBFA;
  --COLOUR-ERROR-50: #FEF3F2;
  --COLOUR-ERROR-100: #FEE4E2;
  --COLOUR-ERROR-200: #FECDCA;
  --COLOUR-ERROR-300: #FDA29B;
  --COLOUR-ERROR-400: #F97066;
  --COLOUR-ERROR-500: #F04438;
  --COLOUR-ERROR-600: #D92D20;
  --COLOUR-ERROR-700: #B42318;
  --COLOUR-ERROR-800: #912018;
  --COLOUR-ERROR-900: #7A271A;

  --COLOUR-WARNING-25: #FFFCF5;
  --COLOUR-WARNING-50: #FFFAEB;
  --COLOUR-WARNING-100: #FEF0C7;
  --COLOUR-WARNING-200: #FEDF89;
  --COLOUR-WARNING-300: #FEC84B;
  --COLOUR-WARNING-400: #FDB022;
  --COLOUR-WARNING-500: #F79009;
  --COLOUR-WARNING-600: #DC6803;
  --COLOUR-WARNING-700: #B54708;
  --COLOUR-WARNING-800: #93370D;
  --COLOUR-WARNING-900: #7A2E0E;

  --COLOUR-SUCCESS-25: #F6FEF9;
  --COLOUR-SUCCESS-50: #ECFDF3;
  --COLOUR-SUCCESS-100: #D1FADF;
  --COLOUR-SUCCESS-200: #A6F4C5;
  --COLOUR-SUCCESS-300: #6CE9A6;
  --COLOUR-SUCCESS-400: #32D583;
  --COLOUR-SUCCESS-500: #12B76A;
  --COLOUR-SUCCESS-600: #039855;
  --COLOUR-SUCCESS-700: #027A48;
  --COLOUR-SUCCESS-800: #05603A;
  --COLOUR-SUCCESS-900: #054F31;

  --COLOUR-PRIMARY-25: #FAFCFF;
  --COLOUR-PRIMARY-50: #F0F7FF;
  --COLOUR-PRIMARY-100: #E1EFFF;
  --COLOUR-PRIMARY-200: #C9E1FD;
  --COLOUR-PRIMARY-300: #9DC9FB;
  --COLOUR-PRIMARY-400: #63A9F9;
  --COLOUR-PRIMARY-500: #3C8FEE;
  --COLOUR-PRIMARY-600: #1D76DD;
  --COLOUR-PRIMARY-700: #155CAD;
  --COLOUR-PRIMARY-800: #104786;
  --COLOUR-PRIMARY-900: #002856;
}