:root {
  --COLOUR-NEUTRAL-25: #FCFCFD;
  --COLOUR-NEUTRAL-50: #F9FAFB;
  --COLOUR-NEUTRAL-100: #F2F4F7;
  --COLOUR-NEUTRAL-200: #EAECF0;
  --COLOUR-NEUTRAL-300: #D0D5DD;
  --COLOUR-NEUTRAL-400: #98A2B3;
  --COLOUR-NEUTRAL-500: #667085;
  --COLOUR-NEUTRAL-600: #475467;
  --COLOUR-NEUTRAL-700: #344054;
  --COLOUR-NEUTRAL-800: #1D2939;
  --COLOUR-NEUTRAL-900: #101828;

  --COLOUR-ERROR-25: #FFFBFA;
  --COLOUR-ERROR-50: #FEF3F2;
  --COLOUR-ERROR-100: #FEE4E2;
  --COLOUR-ERROR-200: #FECDCA;
  --COLOUR-ERROR-300: #FDA29B;
  --COLOUR-ERROR-400: #F97066;
  --COLOUR-ERROR-500: #F04438;
  --COLOUR-ERROR-600: #D92D20;
  --COLOUR-ERROR-700: #B42318;
  --COLOUR-ERROR-800: #912018;
  --COLOUR-ERROR-900: #7A271A;
}