:root {
  --FONT-FAMILY: Inter, sans-serif;
  --DISPLAY-SIZE-XXL: 3.72vw;
  --DISPLAY-SIZE-XL: 3.15vw;
  --DISPLAY-SIZE-LG: 3.52vw;
  --DISPLAY-SIZE-MD: 1.89vw;
  --DISPLAY-SIZE-SM: 1.575vw;
  --DISPLAY-SIZE-XS: 1.26vw;

  --TEXT-SIZE-LG: 0.945vw;
  --TEXT-SIZE-MD: 0.787vw;
  --TEXT-SIZE-SM: 0.682vw;
  --TEXT-SIZE-XS: 0.577vw;

  --FONT-WEIGHT-REGULAR: 400;
  --FONT-WEIGHT-MEDIUM: 500;
  --FONT-WEIGHT-SEMIBOLD: 600;
  --FONT-WEIGHT-BOLD: 700;

  --LINE-HEIGH-XS: 110%;
  --LINE-HEIGHT-SM: 130%;
  --LINE-HEIGHT-MD: 150%;
  --LINE-HEIGHT-LG: 170%;

  --FONT-DISPLAY-2XL-REGULAR: var(--FONT-WEIGHT-REGULAR) var(--DISPLAY-SIZE-XXL)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY);
  --FONT-DISPLAY-2XL-MEDIUM: var(--FONT-WEIGHT-MEDIUM) var(--DISPLAY-SIZE-XXL)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY);
  --FONT-DISPLAY-2XL-SEMIBOLD: var(--FONT-WEIGHT-SEMIBOLD) var(--DISPLAY-SIZE-XXL)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY);
  --FONT-DISPLAY-2XL-BOLD: var(--FONT-WEIGHT-BOLD) var(--DISPLAY-SIZE-XXL)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY);

  // XL
  --FONT-DISPLAY-XL-REGULAR: var(--FONT-WEIGHT-REGULAR) var(--DISPLAY-SIZE-XL)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY);
  --FONT-DISPLAY-XL-MEDIUM: var(--FONT-WEIGHT-MEDIUM) var(--DISPLAY-SIZE-XL)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY);
  --FONT-DISPLAY-XL-SEMIBOLD: var(--FONT-WEIGHT-SEMIBOLD) var(--DISPLAY-SIZE-XL)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY);
  --FONT-DISPLAY-XL-BOLD: var(--FONT-WEIGHT-BOLD) var(--DISPLAY-SIZE-XL)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY);

  // Large
  --FONT-DISPLAY-LG-REGULAR: var(--FONT-WEIGHT-REGULAR) var(--DISPLAY-SIZE-LG)/var(--LINE-HEIGH-SM) var(--FONT-FAMILY);
  --FONT-DISPLAY-LG-MEDIUM: var(--FONT-WEIGHT-MEDIUM) var(--DISPLAY-SIZE-LG)/var(--LINE-HEIGH-SM) var(--FONT-FAMILY);
  --FONT-DISPLAY-LG-SEMIBOLD: var(--FONT-WEIGHT-SEMIBOLD) var(--DISPLAY-SIZE-LG)/var(--LINE-HEIGH-SM) var(--FONT-FAMILY);
  --FONT-DISPLAY-LG-BOLD: var(--FONT-WEIGHT-BOLD) var(--DISPLAY-SIZE-LG)/var(--LINE-HEIGH-SM) var(--FONT-FAMILY);

  // Medium
  --FONT-DISPLAY-MD-REGULAR: var(--FONT-WEIGHT-REGULAR) var(--DISPLAY-SIZE-MD)/var(--LINE-HEIGH-SM) var(--FONT-FAMILY);
  --FONT-DISPLAY-MD-MEDIUM: var(--FONT-WEIGHT-MEDIUM) var(--DISPLAY-SIZE-MD)/var(--LINE-HEIGH-SM) var(--FONT-FAMILY);
  --FONT-DISPLAY-MD-SEMIBOLD: var(--FONT-WEIGHT-SEMIBOLD) var(--DISPLAY-SIZE-MD)/var(--LINE-HEIGH-SM) var(--FONT-FAMILY);
  --FONT-DISPLAY-MD-BOLD: var(--FONT-WEIGHT-BOLD) var(--DISPLAY-SIZE-MD)/var(--LINE-HEIGH-SM) var(--FONT-FAMILY);

  // Small
  --FONT-DISPLAY-SM-REGULAR: var(--FONT-WEIGHT-REGULAR) var(--DISPLAY-SIZE-SM)/var(--LINE-HEIGH-SM) var(--FONT-FAMILY);
  --FONT-DISPLAY-SM-MEDIUM: var(--FONT-WEIGHT-MEDIUM) var(--DISPLAY-SIZE-SM)/var(--LINE-HEIGH-SM) var(--FONT-FAMILY);
  --FONT-DISPLAY-SM-SEMIBOLD: var(--FONT-WEIGHT-SEMIBOLD) var(--DISPLAY-SIZE-SM)/var(--LINE-HEIGH-SM) var(--FONT-FAMILY);
  --FONT-DISPLAY-SM-BOLD: var(--FONT-WEIGHT-BOLD) var(--DISPLAY-SIZE-SM)/var(--LINE-HEIGH-SM) var(--FONT-FAMILY);

  // XS
  --FONT-DISPLAY-XS-REGULAR: var(--FONT-WEIGHT-MEDIUM) var(--DISPLAY-SIZE-XS)/var(--LINE-HEIGHT-MD) var(--FONT-FAMILY);
  --FONT-DISPLAY-XS-MEDIUM: var(--FONT-WEIGHT-REGULAR) var(--DISPLAY-SIZE-XS)/var(--LINE-HEIGHT-MD) var(--FONT-FAMILY);
  --FONT-DISPLAY-XS-SEMIBOLD: var(--FONT-WEIGHT-SEMIBOLD) var(--DISPLAY-SIZE-XS)/var(--LINE-HEIGHT-MD) var(--FONT-FAMILY);
  --FONT-DISPLAY-XS-BOLD: var(--FONT-WEIGHT-BOLD) var(--DISPLAY-SIZE-XS)/var(--LINE-HEIGHT-MD) var(--FONT-FAMILY);

  // Text
  // Large
  --FONT-TEXT-LG-REGULAR: var(--FONT-WEIGHT-MEDIUM) var(--TEXT-SIZE-LG)/var(--LINE-HEIGHT-MD) var(--FONT-FAMILY);
  --FONT-TEXT-LG-MEDIUM: var(--FONT-WEIGHT-REGULAR) var(--TEXT-SIZE-LG)/var(--LINE-HEIGHT-MD) var(--FONT-FAMILY);
  --FONT-TEXT-LG-SEMIBOLD: var(--FONT-WEIGHT-SEMIBOLD) var(--TEXT-SIZE-LG)/var(--LINE-HEIGHT-MD) var(--FONT-FAMILY);
  --FONT-TEXT-LG-BOLD: var(--FONT-WEIGHT-BOLD) var(--TEXT-SIZE-LG)/var(--LINE-HEIGHT-MD) var(--FONT-FAMILY);

  // Medium
  --FONT-TEXT-MD-REGULAR: var(--FONT-WEIGHT-MEDIUM) var(--TEXT-SIZE-MD)/var(--LINE-HEIGHT-MD) var(--FONT-FAMILY);
  --FONT-TEXT-MD-MEDIUM: var(--FONT-WEIGHT-REGULAR) var(--TEXT-SIZE-MD)/var(--LINE-HEIGHT-MD) var(--FONT-FAMILY);
  --FONT-TEXT-MD-SEMIBOLD: var(--FONT-WEIGHT-SEMIBOLD) var(--TEXT-SIZE-MD)/var(--LINE-HEIGHT-MD) var(--FONT-FAMILY);
  --FONT-TEXT-MD-BOLD: var(--FONT-WEIGHT-BOLD) var(--TEXT-SIZE-MD)/var(--LINE-HEIGHT-MD) var(--FONT-FAMILY) ;

  // Small
  --FONT-TEXT-SM-REGULAR: var(--FONT-WEIGHT-REGULAR) var(--TEXT-SIZE-SM)/var(--LINE-HEIGHT-LG) var(--FONT-FAMILY);
  --FONT-TEXT-SM-MEDIUM: var(--FONT-WEIGHT-MEDIUM) var(--TEXT-SIZE-SM)/var(--LINE-HEIGHT-LG) var(--FONT-FAMILY);
  --FONT-TEXT-SM-SEMIBOLD: var(--FONT-WEIGHT-SEMIBOLD) var(--TEXT-SIZE-SM)/var(--LINE-HEIGHT-LG) var(--FONT-FAMILY);
  --FONT-TEXT-SM-BOLD: var(--FONT-WEIGHT-BOLD) var(--TEXT-SIZE-SM)/var(--LINE-HEIGHT-LG) var(--FONT-FAMILY);

  // XS
  --FONT-TEXT-XS-REGULAR: var(--FONT-WEIGHT-REGULAR) var(--TEXT-SIZE-XS)/var(--LINE-HEIGHT-SM) var(--FONT-FAMILY);
  --FONT-TEXT-XS-MEDIUM: var(--FONT-WEIGHT-MEDIUM) var(--TEXT-SIZE-XS)/var(--LINE-HEIGHT-SM) var(--FONT-FAMILY);
  --FONT-TEXT-XS-SEMIBOLD: var(--FONT-WEIGHT-SEMIBOLD) var(--TEXT-SIZE-XS)/var(--LINE-HEIGHT-SM) var(--FONT-FAMILY);
  --FONT-TEXT-XS-BOLD: var(--FONT-WEIGHT-BOLD) var(--TEXT-SIZE-XS)/var(--LINE-HEIGHT-SM) var(--FONT-FAMILY);
}