/* TITLE */
/* XL */
.TITLE-XL-REGULAR {
  font: var(--FONT-WEIGHT-REGULAR) var(--TITLE-SIZE-XL)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY)
}
.TITLE-XL-MEDIUM {
  font: var(--FONT-WEIGHT-MEDIUM) var(--TITLE-SIZE-XL)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY)
}
.TITLE-XL-SEMIBOLD {
  font: var(--FONT-WEIGHT-SEMIBOLD) var(--TITLE-SIZE-XL)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY)
}
.TITLE-XL-BOLD {
  font: var(--FONT-WEIGHT-BOLD) var(--TITLE-SIZE-XL)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY)
}

/* L */
.TITLE-L-REGULAR {
  font: var(--FONT-WEIGHT-REGULAR) var(--TITLE-SIZE-L)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY)
}
.TITLE-L-MEDIUM {
  font: var(--FONT-WEIGHT-MEDIUM) var(--TITLE-SIZE-L)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY)
}
.TITLE-L-SEMIBOLD {
  font: var(--FONT-WEIGHT-SEMIBOLD) var(--TITLE-SIZE-L)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY)
}
.TITLE-L-BOLD {
  font: var(--FONT-WEIGHT-BOLD) var(--TITLE-SIZE-L)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY)
}

/* M */
.TITLE-M-REGULAR {
  font: var(--FONT-WEIGHT-REGULAR) var(--TITLE-SIZE-M)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY)
}
.TITLE-M-MEDIUM {
  font: var(--FONT-WEIGHT-MEDIUM) var(--TITLE-SIZE-M)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY)
}
.TITLE-M-SEMIBOLD {
  font: var(--FONT-WEIGHT-SEMIBOLD) var(--TITLE-SIZE-M)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY)
}
.TITLE-M-BOLD {
  font: var(--FONT-WEIGHT-BOLD) var(--TITLE-SIZE-M)/var(--LINE-HEIGH-XS) var(--FONT-FAMILY)
}

/* S */
.TITLE-S-REGULAR {
  font: var(--FONT-WEIGHT-REGULAR) var(--TITLE-SIZE-S)/var(--LINE-HEIGHT-S) var(--FONT-FAMILY)
}
.TITLE-S-MEDIUM {
  font: var(--FONT-WEIGHT-MEDIUM) var(--TITLE-SIZE-S)/var(--LINE-HEIGHT-S) var(--FONT-FAMILY)
}
.TITLE-S-SEMIBOLD {
  font: var(--FONT-WEIGHT-SEMIBOLD) var(--TITLE-SIZE-S)/var(--LINE-HEIGHT-S) var(--FONT-FAMILY)
}
.TITLE-S-BOLD {
  font: var(--FONT-WEIGHT-BOLD) var(--TITLE-SIZE-S)/var(--LINE-HEIGHT-S) var(--FONT-FAMILY)
}

/* XS */
.TITLE-XS-REGULAR {
  font: var(--FONT-WEIGHT-REGULAR) var(--TITLE-SIZE-XS)/var(--LINE-HEIGHT-S) var(--FONT-FAMILY)
}
.TITLE-XS-MEDIUM {
  font: var(--FONT-WEIGHT-MEDIUM) var(--TITLE-SIZE-XS)/var(--LINE-HEIGHT-S) var(--FONT-FAMILY)
}
.TITLE-XS-SEMIBOLD {
  font: var(--FONT-WEIGHT-SEMIBOLD) var(--TITLE-SIZE-XS)/var(--LINE-HEIGHT-S) var(--FONT-FAMILY)
}
.TITLE-XS-BOLD {
  font: var(--FONT-WEIGHT-BOLD) var(--TITLE-SIZE-XS)/var(--LINE-HEIGHT-S) var(--FONT-FAMILY)
}

/* BODY */
/* XL */
.BODY-XL-REGULAR {
  font: var(--FONT-WEIGHT-REGULAR) var(--BODY-SIZE-XL)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-XL-MEDIUM {
  font: var(--FONT-WEIGHT-MEDIUM) var(--BODY-SIZE-XL)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-XL-SEMIBOLD {
  font: var(--FONT-WEIGHT-SEMIBOLD) var(--BODY-SIZE-XL)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-XL-BOLD {
  font: var(--FONT-WEIGHT-BOLD) var(--BODY-SIZE-XL)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}

/* L */
.BODY-L-REGULAR {
  font: var(--FONT-WEIGHT-REGULAR) var(--BODY-SIZE-L)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-L-MEDIUM {
  font: var(--FONT-WEIGHT-MEDIUM) var(--BODY-SIZE-L)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-L-SEMIBOLD {
  font: var(--FONT-WEIGHT-SEMIBOLD) var(--BODY-SIZE-L)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-L-BOLD {
  font: var(--FONT-WEIGHT-BOLD) var(--BODY-SIZE-L)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}

/* M */
.BODY-M-REGULAR {
  font: var(--FONT-WEIGHT-REGULAR) var(--BODY-SIZE-M)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-M-MEDIUM {
  font: var(--FONT-WEIGHT-MEDIUM) var(--BODY-SIZE-M)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-M-SEMIBOLD {
  font: var(--FONT-WEIGHT-SEMIBOLD) var(--BODY-SIZE-M)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-M-BOLD {
  font: var(--FONT-WEIGHT-BOLD) var(--BODY-SIZE-M)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}

/* S */
.BODY-S-REGULAR {
  font: var(--FONT-WEIGHT-REGULAR) var(--BODY-SIZE-S)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-S-MEDIUM {
  font: var(--FONT-WEIGHT-MEDIUM) var(--BODY-SIZE-S)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-S-SEMIBOLD {
  font: var(--FONT-WEIGHT-SEMIBOLD) var(--BODY-SIZE-S)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-S-BOLD {
  font: var(--FONT-WEIGHT-BOLD) var(--BODY-SIZE-S)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}

/* XS */
.BODY-XS-REGULAR {
  font: var(--FONT-WEIGHT-REGULAR) var(--BODY-SIZE-XS)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-XS-MEDIUM {
  font: var(--FONT-WEIGHT-MEDIUM) var(--BODY-SIZE-XS)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-XS-SEMIBOLD {
  font: var(--FONT-WEIGHT-SEMIBOLD) var(--BODY-SIZE-XS)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}
.BODY-XS-BOLD {
  font: var(--FONT-WEIGHT-BOLD) var(--BODY-SIZE-XS)/var(--LINE-HEIGHT-M) var(--FONT-FAMILY)
}