@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --FONT-FAMILY: Inter, sans-serif;

  --TITLE-SIZE-XL: 4vw;
  --TITLE-SIZE-L: 3.5vw;
  --TITLE-SIZE-M: 3vw;
  --TITLE-SIZE-S: 2.5vw;
  --TITLE-SIZE-XS: 2vw;

  --BODY-SIZE-XL: 1.7vw;
  --BODY-SIZE-L: 1.5vw;
  --BODY-SIZE-M: 1vw;
  --BODY-SIZE-S: 0.8vw;
  --BODY-SIZE-XS: 0.5vw;

  --FONT-WEIGHT-REGULAR: 400;
  --FONT-WEIGHT-MEDIUM: 500;
  --FONT-WEIGHT-SEMIBOLD: 600;
  --FONT-WEIGHT-BOLD: 700;

  --LINE-HEIGH-XS: 110%;
  --LINE-HEIGHT-S: 120%;
  --LINE-HEIGHT-M: 140%; 
}