:root {
  --FONT-FAMILY: Inter;
  --DISPLAY-SIZE-XXL: 3.72vw;
  --DISPLAY-SIZE-XL: 3.15vw;
  --DISPLAY-SIZE-LG: 2.52vw;
  --DISPLAY-SIZE-MD: 1.89vw;
  --DISPLAY-SIZE-SM: 1.575vw;
  --DISPLAY-SIZE-XS: 1.26vw;

  --TEXT-SIZE-LG: 0.945vw;
  --TEXT-SIZE-MD: 0.787vw;
  --TEXT-SIZE-SM: 0.682vw;
  --TEXT-SIZE-XS: 0.577vw;

  --FONT-WEIGHT-REGULAR: 400;
  --FONT-WEIGHT-MEDIUM: 500;
  --FONT-WEIGHT-SEMIBOLD: 600;
  --FONT-WEIGHT-BOLD: 700;

  --LINE-HEIGH-XS: 110%;
  --LINE-HEIGHT-SM: 130%;
  --LINE-HEIGHT-MD: 150%;
  --LINE-HEIGHT-LG: 170%;

  --font-display-2xl-regular: var(--FONT-FAMILY) var(--FONT-WEIGHT-REGULAR) var(--DISPLAY-SIZE-XXL) var(--LINE-HEIGH-XS);
  --font-display-2xl-medium: var(--FONT-FAMILY) var(--FONT-WEIGHT-MEDIUM) var(--DISPLAY-SIZE-XXL) var(--LINE-HEIGH-XS);
  --font-display-2xl-semibold: var(--FONT-FAMILY) var(--FONT-WEIGHT-SEMIBOLD) var(--DISPLAY-SIZE-XXL) var(--LINE-HEIGH-XS);
  --font-display-2xl-bold: var(--FONT-FAMILY) var(--FONT-WEIGHT-BOLD) var(--DISPLAY-SIZE-XXL) var(--LINE-HEIGH-XS);

  --font-display-xl-regular: var(--FONT-FAMILY) var(--FONT-WEIGHT-REGULAR) var(--DISPLAY-SIZE-XL) var(--LINE-HEIGH-XS);
  --font-display-xl-medium: var(--FONT-FAMILY) var(--FONT-WEIGHT-MEDIUM) var(--DISPLAY-SIZE-XL) var(--LINE-HEIGH-XS);
  --font-display-xl-semibold: var(--FONT-FAMILY) var(--FONT-WEIGHT-SEMIBOLD) var(--DISPLAY-SIZE-XL) var(--LINE-HEIGH-XS);
  --font-display-xl-bold: var(--FONT-FAMILY) var(--FONT-WEIGHT-BOLD) var(--DISPLAY-SIZE-XL) var(--LINE-HEIGH-XS);

  --font-display-lg-regular: var(--FONT-FAMILY) var(--FONT-WEIGHT-REGULAR) var(--DISPLAY-SIZE-LG) var(--LINE-HEIGHT-SM);
  --font-display-lg-medium: var(--FONT-FAMILY) var(--FONT-WEIGHT-MEDIUM) var(--DISPLAY-SIZE-LG) var(--LINE-HEIGHT-SM);
  --font-display-lg-semibold: var(--FONT-FAMILY) var(--FONT-WEIGHT-SEMIBOLD) var(--DISPLAY-SIZE-LG) var(--LINE-HEIGHT-SM);
  --font-display-lg-bold: var(--FONT-FAMILY) var(--FONT-WEIGHT-BOLD) var(--DISPLAY-SIZE-LG) var(--LINE-HEIGHT-SM);

  --font-display-md-regular: var(--FONT-FAMILY) var(--FONT-WEIGHT-REGULAR) var(--DISPLAY-SIZE-MD) var(--LINE-HEIGHT-SM);
  --font-display-md-medium: var(--FONT-FAMILY) var(--FONT-WEIGHT-MEDIUM) var(--DISPLAY-SIZE-MD) var(--LINE-HEIGHT-SM);
  --font-display-md-semibold: var(--FONT-FAMILY) var(--FONT-WEIGHT-SEMIBOLD) var(--DISPLAY-SIZE-MD) var(--LINE-HEIGHT-SM);
  --font-display-md-bold: var(--FONT-FAMILY) var(--FONT-WEIGHT-BOLD) var(--DISPLAY-SIZE-MD) var(--LINE-HEIGHT-SM);

  --font-display-sm-regular: var(--FONT-FAMILY) var(--FONT-WEIGHT-REGULAR) var(--DISPLAY-SIZE-SM) var(--LINE-HEIGHT-SM);
  --font-display-sm-medium: var(--FONT-FAMILY) var(--FONT-WEIGHT-MEDIUM) var(--DISPLAY-SIZE-SM) var(--LINE-HEIGHT-SM);
  --font-display-sm-semibold: var(--FONT-FAMILY) var(--FONT-WEIGHT-SEMIBOLD) var(--DISPLAY-SIZE-SM) var(--LINE-HEIGHT-SM);
  --font-display-sm-bold: var(--FONT-FAMILY) var(--FONT-WEIGHT-BOLD) var(--DISPLAY-SIZE-SM) var(--LINE-HEIGHT-SM);

  --font-display-xs-regular: var(--FONT-FAMILY) var(--FONT-WEIGHT-MEDIUM) var(--DISPLAY-SIZE-XS) var(--LINE-HEIGHT-MD);
  --font-display-xs-medium: var(--FONT-FAMILY) var(--FONT-WEIGHT-REGULAR) var(--DISPLAY-SIZE-XS) var(--LINE-HEIGHT-MD);
  --font-display-xs-semibold: var(--FONT-FAMILY) var(--FONT-WEIGHT-SEMIBOLD) var(--DISPLAY-SIZE-XS) var(--LINE-HEIGHT-MD);
  --font-display-xs-bold: var(--FONT-FAMILY) var(--FONT-WEIGHT-BOLD) var(--DISPLAY-SIZE-XS) var(--LINE-HEIGHT-MD);

  --font-text-lg-regular: var(--FONT-FAMILY) var(--FONT-WEIGHT-MEDIUM) var(--TEXT-SIZE-LG) var(--LINE-HEIGHT-MD);
  --font-text-lg-medium: var(--FONT-FAMILY) var(--FONT-WEIGHT-REGULAR) var(--TEXT-SIZE-LG) var(--LINE-HEIGHT-MD);
  --font-text-lg-semibold: var(--FONT-FAMILY) var(--FONT-WEIGHT-SEMIBOLD) var(--TEXT-SIZE-LG) var(--LINE-HEIGHT-MD);
  --font-text-lg-bold: var(--FONT-FAMILY) var(--FONT-WEIGHT-BOLD) var(--TEXT-SIZE-LG) var(--LINE-HEIGHT-MD);

  --font-text-md-regular: var(--FONT-FAMILY) var(--FONT-WEIGHT-MEDIUM) var(--TEXT-SIZE-MD) var(--LINE-HEIGHT-MD);
  --font-text-md-medium: var(--FONT-FAMILY) var(--FONT-WEIGHT-REGULAR) var(--TEXT-SIZE-MD) var(--LINE-HEIGHT-MD);
  --font-text-md-semibold: var(--FONT-FAMILY) var(--FONT-WEIGHT-SEMIBOLD) var(--TEXT-SIZE-MD) var(--LINE-HEIGHT-MD);
  --font-text-md-bold: var(--FONT-FAMILY) var(--FONT-WEIGHT-BOLD) var(--TEXT-SIZE-MD) var(--LINE-HEIGHT-MD);

  --font-text-sm-regular: var(--FONT-FAMILY) var(--FONT-WEIGHT-REGULAR) var(--TEXT-SIZE-SM) var(--LINE-HEIGHT-LG);
  --font-text-sm-medium: var(--FONT-FAMILY) var(--FONT-WEIGHT-MEDIUM) var(--TEXT-SIZE-SM) var(--LINE-HEIGHT-LG);
  --font-text-sm-semibold: var(--FONT-FAMILY) var(--FONT-WEIGHT-SEMIBOLD) var(--TEXT-SIZE-SM) var(--LINE-HEIGHT-LG);
  --font-text-sm-bold: var(--FONT-FAMILY) var(--FONT-WEIGHT-BOLD) var(--TEXT-SIZE-SM) var(--LINE-HEIGHT-LG);

  --font-text-xs-regular: var(--FONT-FAMILY) var(--FONT-WEIGHT-REGULAR) var(--TEXT-SIZE-XS) var(--LINE-HEIGHT-SM);
  --font-text-xs-medium: var(--FONT-FAMILY) var(--FONT-WEIGHT-MEDIUM) var(--TEXT-SIZE-XS) var(--LINE-HEIGHT-SM);
  --font-text-xs-semibold: var(--FONT-FAMILY) var(--FONT-WEIGHT-SEMIBOLD) var(--TEXT-SIZE-XS) var(--LINE-HEIGHT-SM);
  --font-text-xs-bold: var(--FONT-FAMILY) var(--FONT-WEIGHT-BOLD) var(--TEXT-SIZE-XS) var(--LINE-HEIGHT-SM);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  font-size: 100%;
}

main {
  display: grid;
  grid-template-areas:
    "header header header"
    "side content content"
    "footer footer footer";
  grid-auto-columns: 10vw auto;
}

header {
  grid-area: header;
  background-color: #D7D5D5FF;
  height: 5vh;
}

article {
  grid-area: content;
  background-color: #fcfcfc;
  height: 90vh;
}

aside {
  grid-area: side;
  background-color: #e7dede;
}

footer {
  grid-area: footer;
  background-color: #D7D5D5FF;
  position: sticky;
  bottom: 0;
  height: 5vh;
}
